* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

table {
    position: relative;
    width: 1140px;
    margin: 0 auto;
    border: 1px solid black;
}
.block__left {
    position: relative;
    width: 35%;
    height: auto;
    background: #086793;
    padding: 40px 40px 40px 40px;
}
.block__right {
    position: relative;
    width: 65%;
    height: auto;
    background: #ffff;
    padding: 40px 40px 40px 40px;
}
.block__left_head>img {
    display: block;
    width: 200px;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.block__left_head .name {
   color: #ffff;
   text-align: center;
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
}
.block__left_head .status {
    color: #ffff;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
 }
 .block__left_head .divider {
    border-bottom: 1px solid rgb(196, 192, 192);
    margin-top: 30px;
 }
.block__left_contact {
    margin-top: 30px;
}
h2 {
    color: #ffff;
    font-weight: 500;
    margin-bottom: 20px;
}
.block__left_contact .tel {
    color: #ffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
}
.block__left_contact .icon {
    width: 20px;
    height: 20px;
}
.contact img {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 10px;
    top: 4px;
}
.icon {
    position: relative;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    line-height: 10px;
    top: 4px;
}
.block__left_education {
    margin-top: 30px;
}
.education .year {
    color: black;
    font-size: 14px;
    font-weight: 300;
}
.education .university {
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
}
.block__left_softskills {
    margin-top: 30px;
}
.block__left_softskills .soft__skills_wrapper {
    color: #ffff;
    font-size: 14px;
    font-weight: 500;
    line-height: 30px;
    list-style-type: none;
}
.block__right .aboutme {
    position: absolute;
    margin-top: 40px;
    top: 0;
}
.title {
    position:relative;
    color: #000;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 3;
}
.title::before {
    content: '';
    position: absolute;
    background: #0789c5;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    z-index: -1;
    top: -10px;
    left: -20px;
}
.aboutme .divider__blue {
    border: 1px solid #0789c5;
    width: 95px;
}
.block__right .aboutme__text {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 300;
}
.block__right .experience {
    position: absolute;
    margin-top: 40px;
    top: 230px;
} 
.experience .divider__blue {
    border: 1px solid #0789c5;
    width: 235px;
}
.block__right .experience__item {
    margin-top: 20px;
} 
.experience__item_subtitle {
    font-size: 14px;
    font-weight: 500;
}
.experience__item_text {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
}
.hard__skills {
    margin-top: 560px;
}
.hard__skills .divider__blue {
    border: 1px solid #0789c5;
    width: 112px;
}
.hard__skills_wrapper {
    margin-top: 40px;
}
.hard__skills_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: -20px;
    left: -60px;
}
.wrapper__item {
    position: relative;
    width: 550px;
    height: 14px;
    background: #D9D9D9;
    border-radius: 4px;
    right: -35px;
    margin-bottom: 50px;
}
.wrapper__item .line__blue {
    width: 85%;
    height: 14px;
    background: #0789c5;
    border-radius: 4px;
}
.interest .divider__blue {
    border: 1px solid #0789c5;
    width: 145px;
}



